body{
    background:#FFFFFF;
    margin:0;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  margin-top: -175px;
  margin-bottom: 0px;
    height: 40%;
    width: 40%;
    size: 40%;
}
#searchbar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width:400px;
    size:125%;
    padding: 10px 5px 10px 5px;
}
.searchbar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    top: 3px;
    left: 5px;
    height: 30px;
    width: 30px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: #FFFFFF; /* Set the bg image here. with "no-repeat" */
    box-shadow: 2px 1px 2px 1px  #888888;
}
::placeholder {
    font-size: larger;
}
.topleftgmail {
    text-align: right;
 margin-top: -270px;
 margin-right: 50px;
 font-size: 15px;
  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src:url(roboto);
}
.imagesvg1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    
    
}
 .imagesvg1:hover{
     background-color: gray;
     opacity: 25%;
     size: 120%;
 }

 .topleftgmailsvg {
    display: block;
    margin-left: auto;
    margin-right: 10px;
    margin-top: -370px;
 }
 .topleftgmailsvg:hover{
    background-color: gray;
    opacity: 25%;
    size: 120%;
 }